body {
  font-family: Tahoma;
  color: #555;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#loading {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px 0 4px 0;
  padding: 8px;
  width: 80%;
}

h3, ul {
  font-weight: normal;
  margin: 6px;
}

li {
  padding: 10px 5px 10px 5px;
}

li:hover {
  /* border-right: solid #ccc;
  border-left: solid #ccc; */

  background-color: #eee;
}

.imgCircle {
  border-radius: 100%;
}

#app {
  /* width: 90%; */
  max-width: 600px;
  min-width: 500px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: 4px 4px 12px #ccc;
}

form, #progressFeedback, #updateTodoBtns, #addTodo, #brand, #accessOrRegisterOrSocial, #userInfo {
  text-align: center;
  padding: 10px;
}

#todoList, #addTodo, #tabbed-content {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todoBtns {
  float: right;
  padding: 2px 8px 4px 8px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.todoBtns:hover, button:hover {
  opacity: 0.8;
}

.delete {
  background:#f44336;
}

.update {
  background:#009688;
}

#addTodo {
  width: 400px;
  margin: 0 auto;
}

#addTodo input {
  display: block;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  width: 300px;
  float: left;
  clear: both;
}

button {
  cursor: pointer;
  background-color: #27ae60;
  border: none;
  color: #fff;
  padding: 4px 8px;
  margin: 4px;
  font-size: 16px;
  border-radius: 20px;
}

.startHidden {
  display: none;
}

.social {
  background-color: #fff;
}

.alternative {
  background-color: #2980b9;
}

.danger {
  background-color: #e74c3c;
}


p {
  margin: 5px;
}

#accessOrRegisterOrSocial img {
  margin: 10px;
  cursor: pointer;
}

#accessOrRegisterOrSocial img:hover {
  opacity: 0.8;
}